<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<body>
	<h2>Hospital Reservation</h2>
	<form th:object="${hospitalReservation}" class="form-horizontal" method="post">
		<input type="hidden" name="id" th:value="*{id}" />
		<div class="form-group has-feedback">
			<div class="form-group">
				<label class="col-sm-2 control-label">Pet</label>
				<div class="col-sm-10">
					<span th:text="*{pet.name}" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Vet</label>
				<div class="col-sm-10">
					<select th:field="*{vet}" class="form-control">
						<option th:each="vet : ${vets}" th:value="${vet.id}" th:text="${vet.firstName} + ' ' + ${vet.lastName}">Vet Name</option>
					</select>
					<span class="help-inline" th:if="${#fields.hasErrors('vet')}" th:errors="*{vet}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Reservation Time</label>
				<div class="col-sm-10">
					<input th:field="*{reservationTime}" class="form-control" type="datetime-local" />
					<span class="help-inline" th:if="${#fields.hasErrors('reservationTime')}" th:errors="*{reservationTime}"></span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label">Description</label>
				<div class="col-sm-10">
					<input th:field="*{description}" class="form-control" type="text" />
					<span class="help-inline" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button class="btn btn-primary" type="submit">Save Reservation</button>
			</div>
		</div>
	</form>
</body>
</html>